import(methods)
importFrom(graphics, abline, arrows, axis, par, plot.new, plot.window, points,
                     rect, segments, text, title)
importFrom(stats, setNames)

import(Rcpp)
import(BiocGenerics)
import(Biostrings)
import(IRanges)
import(S4Vectors)
import(Gviz)
import(Pviz)
import(biomaRt)

importFrom(GenomicRanges, GRanges, GRangesList)
importFrom(rtracklayer, chrom)

importClassesFrom(Biobase, Versioned)
importFrom(Biobase, classVersion, isCurrent, validMsg)

importFrom(cleaver, cleave, cleavageRanges)

importFrom(mzR, openIDfile, psms)

## importClassesFrom(mzID, mzID)
importFrom(mzID, mzID, flatten)

importFrom(MSnbase, addIdentificationData, get.amino.acids, get.atomic.mass)

## ensembldb
importFrom(ensembldb, listProteinColumns, TxidFilter, ProteinidFilter,
           UniprotidFilter)
importMethodsFrom(ensembldb, hasProteinData, listColumns, proteins,
                  ensemblVersion, cdsBy)
importClassesFrom(ensembldb, EnsDb, TxidFilter, ProteinidFilter, UniprotidFilter)

exportClasses(Proteins,
              Pparams)

exportMethods(
    ## class methods
    Proteins,
    "[",
    "[[",
    aa,
    acols,
    ametadata,
    length,
    metadata,
    pcols,
    pfeatures,
    pmetadata,
    pranges, "pranges<-",
    pvarLabels,
    avarLabels,
    seqnames,
    show,
    ## action methods
    cleave,
    plot,
    addIdentificationData,
    addPeptideFragments,
    pfilter,
    ## mapping
    mapToGenome,
    pmapToGenome,
    ## ranges
    proteinCoding)

export(rmEmptyRanges,
       Pparams,
       etrid2grl,
       isReverse,
       isForward,
       ## actions on Proteins
       isCleaved,
       proteinCoverage,
       proteotypic,
       calculateHeavyLabels,
       ## plotting
       plotAsGeneRegionTrack,
       plotAsAnnotationTrack)

