import(methods)
import(Rcpp)
import(BiocGenerics)
import(Biostrings)
import(IRanges)
import(S4Vectors)
import(Gviz)
import(Pviz)

importClassesFrom(Biobase, Versioned)
importFrom(Biobase, classVersion, isCurrent, validMsg)

importFrom(cleaver, cleave, cleavageRanges)

importFrom(mzR, openIDfile, psms)

## importClassesFrom(mzID, mzID)
importFrom(mzID, mzID, flatten)

importFrom(MSnbase, addIdentificationData, get.amino.acids, get.atomic.mass)

exportClasses(Proteins,
              Pparams)

exportMethods(
    ## class methods
    Proteins,
    "[",
    "[[",
    aa,
    acols,
    ametadata,
    length,
    metadata,
    pcols,
    pfeatures,
    pmetadata,
    pranges,
    pvarLabels,
    avarLabels,
    seqnames,
    show,
    ## action methods
    cleave,
    isCleaved,
    plot,
    addIdentificationData,
    pfilter,
    proteinCoverage,
    proteotypic
    )

export(rmEmptyRanges,
       Pparams)
